extends base

block content
  p Hi,
  p Welcome to KNUBA eVoting. You received this email because previously you`ve been created a new voting with id #{votingId}
  p In order to manage this voting you need an admin token.
  p This is your token:
  br
  p #{token}
  br
  p IMPORTANT!!! Save this mail or save this token in some secure place because it`s impossible to recover this token.
